# sh (and their template counter parts) should always be lf their line endings
*.sh text=lf eol=lf
*.sh.j2 text=lf eol=lf
*.pth filter=lfs diff=lfs merge=lfs -text
resources/nnUNet_results/Dataset300_ACOptimalSuboptimal/nnUNetTrainer__nnUNetPlans__2d/fold_0/checkpoint_final.pth filter=lfs diff=lfs merge=lfs -text